@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #151515;
}

body {
    font-family: 'Poppins', sans-serif;
}
